{% load static %}

<!-- Core -->
<script src="{% static 'vendor/@popperjs/core/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- Vendor JS -->
<script src="{% static 'vendor/onscreen/dist/on-screen.umd.min.js' %}"></script>

<!-- Slider -->
<script src="{% static 'vendor/nouislider/distribute/nouislider.min.js' %}"></script>

<!-- Smooth scroll -->
<script src="{% static 'vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>

<!-- Count up -->
<script src="{% static 'vendor/countup.js/dist/countUp.umd.js' %}"></script>

<!-- Apex Charts -->
<script src="{% static 'vendor/apexcharts/dist/apexcharts.min.js' %}"></script>

<!-- Datepicker -->
<script src="{% static 'vendor/vanillajs-datepicker/dist/js/datepicker.min.js' %}"></script>

<!-- DataTables -->
<script src="{% static 'vendor/simple-datatables/dist/umd/simple-datatables.js' %}"></script>

<!-- Sweet Alerts 2 -->
<script src="{% static 'vendor/sweetalert2/dist/sweetalert2.min.js' %}"></script>

<!-- Moment JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

<!-- Vanilla JS Datepicker -->
<script src="{% static 'vendor/vanillajs-datepicker/dist/js/datepicker.min.js' %}"></script>

<!-- Full Calendar -->
<script src="{% static 'vendor/fullcalendar/main.min.js' %}"></script>

<!-- Dropzone -->
<script src="{% static 'vendor/dropzone/dist/min/dropzone.min.js' %}"></script>

<!-- Choices.js -->
<script src="{% static 'vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Notyf -->
<script src="{% static 'vendor/notyf/notyf.min.js' %}"></script>

<!-- Mapbox & Leaflet.js -->
<script src="{% static 'vendor/leaflet/dist/leaflet.js' %}"></script>

<!-- SVG Map -->
<script src="{% static 'vendor/svg-pan-zoom/dist/svg-pan-zoom.min.js' %}"></script>
<script src="{% static 'vendor/svgmap/dist/svgMap.min.js' %}"></script>

<!-- Simplebar -->
<script src="{% static 'vendor/simplebar/dist/simplebar.min.js' %}"></script>

<!-- Sortable Js -->
<script src="{% static 'vendor/sortablejs/Sortable.min.js' %}"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Volt JS -->
<script src="{% static 'js/volt.min.js' %}"></script>