{% extends 'layouts/base.html' %} {% load static %} {% block content %}
    <div class="row">
        <div class="col-12 mb-2 mt-4 ms-4">
            <h2>Client List</h2>
        </div>
        <div class="col-12 mb-3 mt-2 ms-1 me-1"
             style="width:100%; display: flex;flex-direction: row; justify-content: space-between;">
            <!-- / Search form -->
            <div style="width:38%; display: flex;flex-direction: row; justify-content: space-between;">
                <form class="client-search form-inline" id="client-search-main">
                    <div class="input-group input-group-merge search-bar">
                        <span class="input-group-text" id="topbar-addon">
                          <svg class="icon icon-xs" x-description="Heroicon name: solid/search"
                               xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                               aria-hidden="true">
                            <path fill-rule="evenodd"
                                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                  clip-rule="evenodd"></path>
                          </svg>
                        </span>
                        <input type="text" class="form-control" id="topbarInputIconLeft" placeholder="Search Client"
                               aria-label="Search" aria-describedby="topbar-addon">
                    </div>
                </form>
                <button class="btn btn-info" type="button" onclick="searchClients()">Search</button>
            </div>
            <!-- / Search form -->
            <button class="btn btn-secondary" onclick="add_new_click()" style="width: 20%">Add New Client
            </button>
        </div>
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    {% include 'views/homePage/client_table.html' %}
                </div>
            </div>
        </div>
    </div>

    <script>
        function add_new_click() {
            window.location.href = "/addClient";
        }

        function searchClients() {
            var searchTerm = document.getElementById('topbarInputIconLeft').value; // 获取输入的搜索词
            if(searchTerm === ''){
                searchTerm = 'all'
            }
            renderSearch(searchTerm)
        }
    </script>
{% endblock content %}



