<div class="row" id="sms_data_div">
    <div class="col-12 mb-4 mt-4 ms-1 me-3">
        <div class="card border-light shadow-sm">
            <div class="mt-4 mb-4 ms-4 me-4">

                <div class="row m4" id="sms_data_form">
                    <div class="form-check m-2 col-2">
                        <input type="radio" class="form-check-input" id="time-type-year" name="time_type_sms"
                               value="year"/>
                        <label for="time-type-year" class="form-check-label">Year</label>
                    </div>

                    <div class="form-check m-2 col-2">
                        <input type="radio" class="form-check-input" id="time-type-month" name="time_type_sms"
                               value="month"/>
                        <label for="time-type-month" class="form-check-label">Month</label>
                    </div>
                    <div class="form-check m-2 col-2">
                        <input type="radio" class="form-check-input" id="time-type-day" name="time_type_sms"
                               value="day" checked/>
                        <label for="time-type-day" class="form-check-label">Day</label>
                    </div>
                </div>

                <!-- datepicker form -->
                <div class="row m-1" id="sms_data_datepicker">
                    <div class="col-4 m-1">
                        <label for="start-date">Start Date</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            </span>
                            <input data-datepicker="" class="form-control" id="start-date-sms" type="text"
                                   placeholder="mm/dd/yyyy" required value="01/06/2022">
                        </div>
                    </div>
                    <div class="col-4 m-1">
                        <label for="end-date">End Date</label>
                        <div class="input-group">
                          <span class="input-group-text">
                              <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20"
                                   xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd"
                                        d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                        clip-rule="evenodd"></path>
                              </svg>
                              </span>
                            <input data-datepicker="" class="form-control" id="end-date-sms" type="text"
                                   placeholder="mm/dd/yyyy" required value="01/17/2022">
                        </div>
                    </div>
                    <div class="col-2 m-1" id="sms_data_button">
                        <button type="button" class="btn btn-md btn-primary m-4" onclick="submit_search_sms()">Search</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="col-12 mb-4" id="sms_counts_time_card">
    <div class="card border-light shadow-sm">
        <div class="mt-4 mb-4 ms-4 me-4">
            {% include 'views/dataAnalysis/sms_counts_time.html' %}
        </div>
    </div>
</div>
<div class="col-12 mb-4" id="sms_counts_trace_card">
    <div class="card border-light shadow-sm">
        <div class="mt-4 mb-4 ms-4 me-4">
            {% include 'views/dataAnalysis/sms_counts_trace.html' %}
        </div>
    </div>
</div>


<script>
    var urlParams = new URLSearchParams(window.location.search);
    var clientId = urlParams.get("clientId");
    var client_device_id
    {#fetch('get_client_by_id/' + clientId, {#}
    {#    method: 'GET'#}
    {#    })#}
    {#    .then(response => response.json())#}
    {#    .then(data => {#}
    {#        client_device_id = data[0].client_device_id;#}
    {#    }).catch(err => {#}
    {#    console.log(err)#}
    {#    })#}

    function submit_search_sms() {
        fetchData_sms()
    }


    function convertDateFormat(date) {
        var d = new Date(date);
        return convertDate(d);
    }

    function convertDate(date) {
        return new Date(date.getTime() + Math.abs(date.getTimezoneOffset() * 60000)).toISOString().slice(0, 10);
    }

    function getType_sms() {
        // get time_type
        // var time_type = document.querySelector('input[name="time_type"]:checked').value;
        var time_type = document.querySelector('input[name="time_type_sms"]:checked').value;
        var type = 0
        if (time_type === "month") {
            type = 1;
        } else if (time_type === "year") {
            type = 2;
        }
        return type;
    }

    function setVisibility(element_id, visibility) {
        document.querySelector("#" + element_id).style.visibility = visibility;
    }

    function hideAllDiagrams_sms() {
        setVisibility("sms_counts_time_card", 'collapse');
        setVisibility("sms_counts_trace_card", 'collapse');
    }


    function init_sms() {
        hideAllDiagrams_sms();
    }

    init_sms();

    // fetchData();
    async function fetchData_sms() {

        var type = getType_sms()

        // https://stackoverflow.com/questions/10596417/is-there-a-way-to-get-element-by-xpath-using-javascript-in-selenium-webdriver
        var start_date_selector = document.getElementById("start-date-sms");
        var end_date_selector = document.getElementById("end-date-sms");

        // var start_timeID = document.getElementById("start-date")
        var start_time = convertDateFormat(start_date_selector.value);

        // var end_timeID = document.getElementById("end-date")
        var end_time = convertDateFormat(end_date_selector.value);

        if (start_time > end_time) {
            var temp = start_time;
            start_time = end_time;
            end_time = temp;
            
            start_date_selector.value = start_time;
            end_date_selector.value = end_time;
        }

        // fetch sms-counts-time
        var fetch_sms_counts_time = fetch('sms_counts_time/' + clientId + '?' + new URLSearchParams({
            'start_time': start_time,
            'end_time': end_time,
            'time_type': type
        }))
            .then(response => response.text())
            .then(text => JSON.parse(text))

        // fetch sms-counts-trace
        var fetch_sms_counts_trace = fetch('sms_counts_trace/' + clientId + '?' + new URLSearchParams({
            'start_time': start_time,
            'end_time': end_time,
            'time_type': type
        }))
            .then(response => response.text())
            .then(text => JSON.parse(text))

        let [data_sms_counts_time, data_sms_counts_trace] = await Promise.all([
        fetch_sms_counts_time,
        fetch_sms_counts_trace
        ]);

        var hasData = false;
        if (data_sms_counts_time && data_sms_counts_time.record && data_sms_counts_time.record.length !== 0) {
            setVisibility("sms_counts_time_card", 'visible');
            renderSmsCountsTime(data_sms_counts_time);
            hasData = true;
        } else {
            setVisibility("sms_counts_time_card", 'collapse');
        }
        if (data_sms_counts_trace && data_sms_counts_trace.record && data_sms_counts_trace.record.length !== 0) {
            setVisibility("sms_counts_trace_card", 'visible');
            renderSmsCountsTrace(data_sms_counts_trace);
            hasData = true;
        } else {
            setVisibility("sms_counts_trace_card", 'collapse');
        }

        if (!hasData) {
            alert("no available data");
        }
    }
</script>

